*{
    margin: 0;
    padding: 0;
    /* border: 1px solid blue; */
}

.primary{
    color: #f52c2c;
}

.btn{
    padding: 15px 55px;
    border: none;
    font-size: 18px;
    margin: 5px;
    text-transform: uppercase;
}

/* Navbar */
.nav-container{
    display: flex;
    padding: 5px;
    justify-content: space-around;
    background-color: #d5d2d2;
    color: white;
}

.items{
    display: flex;
}

.item{
    display: flex;
    font-size: 22px;
    font-weight: bold;
    padding: 5px;
    margin-right: 10px;
}

/* Banner */
.banner-container{
    width: 100%;
    height: 100vh; 
    background-image: url("./asset/image/background.jpg"), linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    text-align: center;
    background-repeat: no-repeat;
    color: white;
}

.title-banner{
    font-size: 85px;
    font-weight: bold;
}

.description{
    font-size: 22px;
    width: 50%;
    margin: auto;
    padding: 10px;
}

.btn-discover{ 
    background-color: #f52c2c;  
    color: white;
}
 
.btn-hire{
    background-color: #f0f0f0;
    color: black;
}

/* Service */
.service-container{
    width: 100%;
    height: 100vh;
    background-image: url('./asset/image/footer-bg.png'), linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.9));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-btn{
    color: gray;
    text-transform: capitalize;
    border-radius: 25px;
    margin-bottom: 20px;
}

.service-title{
    font-size: 40px;
    color: #becfd0;
    font-weight: bold;
}

.service-desc{
    font-size: 20px;
    width: 35%;
    padding: 10px;
    color: white;
}

.list{
    color: white;
    padding: 10px;
    margin-left: 10px;
}

.service-list{
    list-style: decimal;  
}

.author-details{
    display: flex;
    align-items: center;
}

.auth-img-desc{
    display: flex;
    color: white;
    align-items: center;
    padding: 20px 50px 20px 0px;
    border-right: 1px solid red;
}

.author-image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 10px;
}

.more-details{
    padding: 20px;
}

.more-details-btn{
    color: red;
    border-radius: 25px;
}

.service{
    padding: 50px;
    background-color: white;
    box-shadow: 4px 4px 8px gray;
    width: 225px;
    height: 225px;
    text-align: center;
    color: black;
    border-radius: 10px;
    margin: 5px;
}

.service-left{
    width: 50%;
}
.service-logo{
    width: 50%;
    padding-bottom: 10px;
}

.service-up{
    display: flex;
}

.service-down{
    display: flex;
}

/* Appointment */
.call-icon{
    width: 90px;
    height: 90px;
    margin-right: 15px;
}

.phone-call{
    display: flex;
    width: 25%;
    border-right: 2px solid gray;
    align-items: center;
    justify-content: center;
}

.number{
    font-size: xx-large;
}

.appointment{
    display: flex;
    justify-content: space-around;
    width: 75%;
    background-color: #f52c2c;
    padding: 50px 130px;
    color: white;
    margin: auto;
    border-radius: 25px;
    margin-top: -70px;
}

.appointment-desc{
    width: 50%;
    margin: auto;
}

.appointment-btn{
    border-radius: 30px;
    padding: 15px 30px;
}

.btn-div{
    width: 20%;
}

/* Blog */
.blog-section{
    width: 100%;
    height: 80vh;
    padding: 30px;
}

.title-blog{
    font-size: 50px;
    text-align: center;
    margin-bottom: 8px;
}

.blog-desc{
    text-align: center;
    font-size: 22px;
}

.blog-cards{
    display: flex;
    justify-content: center;
    gap: 10%;
    padding: 40px 20px;

}

.card{
    width: 20%;
    border-radius: 10px;
    box-shadow: 5px 10px 25px gray;
}

 .card h2{
    margin-bottom: 10px;
}

.card p{
    font-size: 18px;
}

.card-details{
    padding: 25px 15px;
}

.card img{
    width: 100%;
    margin: auto;
}

/* Footer */
.footer{
    background-image: url('./asset/image/footer-bg.png'), linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.9));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    color: white;
    padding: 0px 40px;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.footer-section{
    height: 60vh;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    /* gap: 30px; */
}

.footer-col{
    width: 20%;
}

.footer-col:first-child{
    margin-right: 10%;
}

.footer-desc{
    color: white;
    padding: 10px 0px 20px 0px;
    line-height: 1.6;
}

.footer-col h3{
    padding-bottom: 30px;
}

.footer-col p{
    line-height: 1.6;
}
.icons{
    color: white;
    font-size: 24px;
    margin-left: 10px;
}

.icon{
    padding-right: 8px;
}

hr{
    border: 1px solid gray;
    width: 90%;
    margin: auto;
}

.copyright{
    text-align: center;
    margin-top: 20px;
}