*{
    margin: 0;
    padding: 0;
}

.nav-container{
    display: flex;
    padding: 5px;
    justify-content: space-around;
    background-color: #d5d2d2;
    color: white;
}

.items{
    display: flex;
}

.item{
    display: flex;
    font-size: 22px;
    font-weight: bold;
    padding: 5px;
    margin-right: 10px;
}

.banner-container{
    width: 100%;
    height: 100vh; 
    background-image: url("./asset/image/background.jpg"), linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    text-align: center;
    background-repeat: no-repeat;
    color: white;
}

.title-banner{
    font-size: 85px;
    font-weight: bold;
}

.description{
    font-size: 22px;
    width: 50%;
    margin: auto;
    padding: 10px;
}

.primary{
    color: #f52c2c;
}

.btn{
    padding: 15px 55px;
    border: none;
    font-size: 18px;
    margin: 5px;
}

.btn-discover{ 
    background-color: #f52c2c;  
    color: white;
}

.btn-hire{
    background-color: #f0f0f0;
    color: black;
}